<div class="navbar">
    <div class="navbar-logo-container">
        <a href="/">
            <img src="/images/logo.png" alt="NutriTracker Logo" class="navbar-logo" />
        </a>
    </div>
    <div class="navbar-links">
        <a href="/" class="<%= active === 'dashboard' ? 'active' : '' %>">Dashboard</a>
        <a href="/meal-creator" class="<%= active === 'meal-creator' ? 'active' : '' %>">Meal Creator</a>
        <a href="/meal-tracker" class="<%= active === 'meal-tracker' ? 'active' : '' %>">Meal Tracker</a>
        <a href="/nutri-report" class="<%= active === 'nutri-report' ? 'active' : '' %>">Nutri Report</a>
        <a href="/activity-tracker" class="<%= active === 'activity-tracker' ? 'active' : '' %>">Activity Tracker</a>
        <a href="/food-inspector" class="<%= active === 'food-inspector' ? 'active' : '' %>">Food Inspector</a>
    </div>
</div>
