<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Record</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Ensure you link your CSS for styling -->
</head>
<body>
    <%- include('partials/header', { loggedIn: loggedIn }) %>
    <%- include('partials/navbar', { active: 'meal_tracker' }) %>

    <div class="container">
        <h1>Edit Meal Record</h1>
        <form id="editRecordForm">
            <input type="hidden" name="id" value="<%= record.id %>">
            <label for="weight">Weight:</label>
            <input type="number" id="weight" name="weight" value="<%= record.weight %>">
            <label for="datetime">Datetime:</label>
            <input type="datetime-local" id="datetime" name="datetime" value="<%= record.datetime.toISOString().slice(0,16) %>">
            <input type="submit" value="Update Record">
        </form>
        
    </div>

    <script src="/js/editRecord.js"></script> <!-- Link to your JavaScript file -->
</body>
</html>
